**Exploración inicial de los datos para identificar posibles problemas, como valores nulos, atípicos o datos faltantes en las columnas relevantes.**

In [ ]:
# Importación librería

In [1]:
import pandas as pd

Lectura de archivo Customer Flight Activity.

In [ ]:
df_flight = pd.read_csv("Customer Flight Activity.csv") # no utilizamos index_col = 0 para que no ponga como indice loyalty number

Visualización del archivo

In [27]:
df_flight.head()

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0

In [14]:
df_flight.sample(20)

,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
Loyalty Number,,,,,,,,,
471523,2017,2,8,0,8,2136,213.0,0,0
358794,2018,6,0,0,0,0,0.0,0,0
143389,2017,5,3,3,6,3222,322.0,0,0
351461,2018,1,0,0,0,0,0.0,0,0
896790,2018,10,11,0,11,3014,301.0,0,0
549598,2017,4,0,0,0,0,0.0,0,0
203864,2018,12,0,0,0,0,0.0,0,0
668020,2018,11,0,0,0,0,0.0,0,0
346163,2017,10,9,0,9,2664,266.0,0,0
270862,2017,1,0,0,0,0,0.0,0,0
781355,2017,4,7,4,11,1683,168.0,0,0
424098,2017,9,5,0,5,2545,254.0,0,0
693045,2017,9,0,0,0,0,0.0,0,0
241436,2017,10,9,0,9,1179,117.0,0,0
581481,2018,9,10,5,15,3045,304.0,499,40
390980,2018,4,0,0,0,0,0.0,0,0
623537,2017,8,8,0,8,1464,146.0,0,0
440642,2017,8,0,0,0,0,0.0,0,0
508821,2017,10,6,0,6,2634,263.0,0,0
807262,2018,5,0,0,0,0,0.0,0,0

``Exploración inicial``

- tipo de datos de las columnas
- valores únicos de las columnas 
- duplicados
- valores nulos

In [ ]:
# Con .info() obtenemos la informacion general del df (nombre columnas/no nulos/tipo de datos)

df_flight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB

In [ ]:
# .isnull() nos permite ver los valores nulos de cada columna y con .sum() contamos cuántos valores nulos hay en cada columna

df_flight.isnull().sum()

Loyalty Number                 0
Year                           0
Month                          0
Flights Booked                 0
Flights with Companions        0
Total Flights                  0
Distance                       0
Points Accumulated             0
Points Redeemed                0
Dollar Cost Points Redeemed    0
dtype: int64

In [ ]:
# Muestra la cantidad de valores únicos por columna (cantidad de valores diferentes)

df_flight.nunique()

Loyalty Number                 16737
Year                               2
Month                             12
Flights Booked                    22
Flights with Companions           12
Total Flights                     33
Distance                        4746
Points Accumulated              1549
Points Redeemed                  587
Dollar Cost Points Redeemed       49
dtype: int64

In [ ]:
# Utilizamos .describe() para obtener diferentes estadísticas de los datos.

df_flight.describe().T

# No incluimos "object" porque todos los datos que tenemos son de tipo numérico.
# Utilizamos .T para cambiar filas por columnas y tener una visualización más clara.

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
count,405624.000000,405624.000000,405624.000000,405624.000000,405624.000000,405624.000000,405624.000000,405624.000000,405624.000000,405624.000000
mean,550037.873084,2017.500000,6.500000,4.115052,1.031805,5.146858,1208.880059,123.692721,30.696872,2.484503
std,258935.286969,0.500001,3.452057,5.225518,2.076869,6.521227,1433.155320,146.599831,125.486049,10.150038
min,100018.000000,2017.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,326961.000000,2017.000000,3.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,550834.000000,2017.500000,6.500000,1.000000,0.000000,1.000000,488.000000,50.000000,0.000000,0.000000
75%,772194.000000,2018.000000,9.250000,8.000000,1.000000,10.000000,2336.000000,239.000000,0.000000,0.000000
max,999986.000000,2018.000000,12.000000,21.000000,11.000000,32.000000,6293.000000,676.500000,876.000000,71.000000

Lectura de archivo Customer Loyalty History

In [ ]:
df_loyalty = pd.read_csv("Customer Loyalty History.csv", index_col = 0)

In [ ]:
df_loyalty.head()

In [ ]:
df_loyalty.sample(20)